.Landing {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar {
  /*background-color:  rgb(33, 31, 109) !important;*/
  background-color: #94070A
}

/* CSS Document */

body {
  margin: 0 auto;
  /* 居中 */
  padding: 0;
}

/*--------------------banner-------------------*/

.banner {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  background-image: url(/image/redbanner.jpg);
  /*background-color: #012D52*/
  background-repeat: no-repeat;
  background-size: cover;
}

.search {
  width: 550px;
  height: 350px;
  margin: 0 auto 0;
}

.search .first .pas {
  width: 550px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: block;
  float: left;
  font-family: "微软雅黑";
  font-size: 25px;
  color: white;
  margin-top: 170px;
}

.search .first {
  width: 600px;
  height: 52px;
}

.search .second {
  width: 600px;
  height: 290px;
}

.search .second .back {
  width: 600px;
  height: 90px;
  background-color: hsla(0, 0%, 100%, 0.34);
  margin-top: 180px;
}

.search .second .number {
  width: 430px;
  height: 35px;
  margin-top: 25px;
  margin-left: 30px;
  float: left;
}

.search .second .upload {
  width: 430px;
  height: 35px;
  margin-top: 25px;
  margin-left: 35px;
  float: left;
  background-color: white;
  font-size: 20px;
  color: black;
}

.search .second .ok {
  width: 100px;
  height: 35px;
  margin-top: 25px;
  /*margin-left: 17px;*/
  border: 0;
  /*background-color:#1D4F7D;*/
  background-color: #94070A;
  font-size: 20px;
  color: white;
  font-family: "微软雅黑";
  float: left;
}

/*---------------------------关于----------------------*/

.aboutus {
  width: 1000px;
  height: 420px;
  margin: 0 auto;
  margin-bottom: 170px;
  border-bottom: 6px solid #94070A;
  padding-top: 50px;
  position: relative;
}

/*.title{
	width:631px;
	text-align:center;
	font-size:32px;
	font-family:"微软雅黑";
	margin:0 auto;
	background-image:url(../img/line.png);
	background-repeat: no-repeat ;
	background-position:center;
	}*/

.aboutus img {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0;
}

.intro {
  width: 182px;
  height: 80px;
  color: #ffffff;
  font-size: 30px;
  font-family: "微软雅黑";
  font-weight: bold;
  background-color: #94070A;
  text-align: center;
  line-height: 88px;
  position: absolute;
  left: 300px;
  bottom: 200px;
  z-index: 99;
  /*上下层优先级 数字大在上层*/
}

.context {
  width: 630px;
  /*800-41-94*/
  height: 195px;
  /*273-*/
  background-color: #f5f5f5;
  position: absolute;
  left: 300px;
  bottom: 0;
  z-index: 1;
  padding: 48px 30px 0 41px;
}

.context p {
  font-size: 18px;
  line-height: 36px;
  color: #333333;
}

.more {
  width: 78px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  color: #ffffff;
  background-color: #B9B1A1;
  position: absolute;
  right: 24px;
  bottom: 24px;
  z-index: 2;
  font-family: "Arial Black", Gadget, sans-serif;
  cursor: pointer;
}

/*-----------------------步骤-----------------------*/

.chanpinshow {
  width: 100%;
  height: 550px;
  margin: 74px auto 0;
  background-color: #F5F5F5;
  padding-top: 70px;
}

.chanpinphoto {
  width: 1200px;
  height: 220px;
  margin: 54px auto 0;
}

.chanpinphoto img {
  width: 360px;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.chanpinphoto .step {
  width: 80px;
  height: 80px;
  float: left;
  margin-left: 159px;
  margin-right: 159px;
  border: 1px solid #898989;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  color: #484848;
}

.chanpinphoto p {
  width: 220px;
  float: left;
  font-family: "微软雅黑";
  font-size: 15px;
  text-align: center;
  margin-left: 90px;
  margin-right: 90px;
}

/*---------------------------登录----------------------*/

.all {
  /*border:1px solid lightblue;*/
  width: 335px;
  height: 327px;
  position: absolute;
  top: 220px;
  right: 300px;
  background-color: rgba(255, 255, 255, 0.5);
}

.all .first .pas {
  width: 335px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: block;
  float: left;
  background-color: #94070A;
  font-family: "微软雅黑";
  color: white;
}

.all .second .number {
  width: 284px;
  height: 35px;
  margin-top: 33px;
  margin-left: 17px;
}

.all .second .password {
  width: 284px;
  height: 35px;
  margin-top: 15px;
  margin-left: 17px;
}

.all .second .ok {
  width: 284px;
  height: 40px;
  margin-top: 17px;
  margin-left: 17px;
  border: 0;
  background-color: #94070A;
  font-size: larger;
  color: white;
  font-family: "微软雅黑";
}

.all .first {
  width: 335px;
  height: 52px;
}

.all .second {
  width: 332px;
  height: 290px;
}

.all .first .login:hover {
  color: black;
}

.all .first .pas:hover {
  color: black;
}

.all .second p {
  font-size: 18px;
  color: #F00;
  margin-left: 20px;
}

.all .second .bnext {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 17px;
}

.all .second .tnext {
  display: block;
  width: 100px;
  height: 15px;
  margin-left: 45px;
  margin-top: -22px;
  font-size: small;
}

/*-----------------------注册界面-----------------*/

.zhuce {
  width: 1600px;
  height: 1066px;
  margin: 0 auto 0;
  background-image: url(/image/redbanner.jpg);
  font-size: 14px;
  font-family: "微软雅黑";
}

.zhuce .biaoti {
  padding-top: 170px;
  padding-bottom: 80px;
  color: white;
  font-family: "微软雅黑";
  font-size: 30px;
}

.zhuce .tb {
  background-color: rgba(255, 255, 255, 0.8);
}

.input_class {
  /*设置class属性名称为input_class的标签内容*/
  width: 250px;
  height: 16px;
}

caption {
  /*设置caption标签内容*/
  font-size: 30px;
  color: #00F;
  font-stretch: wider;
  font-weight: 900;
}

.aaa {
  /*设置class属性名称为aaa的标签内容*/
  font-size: 16px;
  font-weight: bold;
}
